<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- 기본 속성 설정 -->
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />
    <property name="ROLLING_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %logger{5} - %msg %n" />
    <property name="FILE_NAME" value="D:\\logs\\application.log" />
    <property name="LOG_NAME_PATTERN" value="./logs/application-%d{yyyy-MM-dd-HH-mm}.%i.log" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="TOTAL_SIZE" value="30MB" />
    <property name="MAX_HISTORY" value="2" />

    <!-- Console appender 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- 여러개의 파일을 롤링, 순회하면서 로그를 찍는다. -->
    <appender name="ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${ROLLING_PATTERN}</pattern>                   <!-- 로그 패턴 -->
        </encoder>
        <file>${FILE_NAME}</file>                                   <!-- 로그 파일명 -->
        <!-- TimeBasedRollingPolicy 상속받아 maxFileSize 을 통해 파일의 크기까지 고려할 수 있다. -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_NAME_PATTERN}</fileNamePattern>  <!-- 파일명 패턴 -->
            <maxHistory>${MAX_HISTORY}</maxHistory>                 <!-- 최대 보관할 파일 수 -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>             <!-- 파일의 최대 크기 -->
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>              <!-- 전체 파일의 최대 크기 -->
        </rollingPolicy>
    </appender>

    <!-- sql 로그 레벨 설정 -->
    <logger name="jdbc" level="OFF" additive="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </logger>
<!--    <logger name="jdbc.sqlonly" level="DEBUG" additive="false" >-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="ROLLING_LOG_FILE"/>-->
<!--    </logger>-->
<!--    <logger name="jdbc.sqltiming" level="OFF" additive="false" >-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="ROLLING_LOG_FILE"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate.SQL" level="DEBUG" additive="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="ROLLING_LOG_FILE"/>-->
<!--    </logger>-->

    <!-- 패키지별 로그 레벨 설정 -->
    <logger name="com.tony.string.controller" level="INFO" additive="true" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </logger>
    <logger name="com.tony.string.service" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </logger>
    <logger name="com.tony.string.repository" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </logger>

    <!-- root 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </root>
</configuration>